@import "mdl/material-design-lite";

// カラーパレット
$color-primary: $palette-purple-500 !default;
$color-primary-dark: $palette-deep-purple-700 !default;
$color-accent: $palette-pink-A200 !default;

body {
  background-color: unquote("rgb(#{$color-primary})");
  #app-root {
    margin-top: 3em;
    .message {
      text-align: center;
      color: unquote("rgb(#{$color-dark-contrast})");
    }
  }
}
